# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\franc\Desktop\Facu Franco\Algo3\Finales\Final17-09-20\final-17-09-2020\final_alumno\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
